<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="EmulateIE8" />
            <meta http-equiv="Content-Type" content="text/xhtml; charset=UTF-8" />
            <meta http-equiv="Cache-Control" content="no-cache" />
            <meta http-equiv="Pragma" content="no-cache" />
        </f:facet>
        <h:outputStylesheet name="default.css" library="css" />
        <h:outputStylesheet name="cssLayout.css" library="css" />
        <title>Registru Online v3.0</title>
        <link rel="icon" type="image/png" sizes="192x192"  href="resources/img/android-icon-192x192.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="resources/img/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="96x96" href="resources/img/favicon-96x96.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="resources/img/favicon-16x16.png" />
    </h:head>

    <h:body>
        <f:view>
            <div id="top" class="top ui-widget ui-widget-header ui-corner-all">
                <ui:include src="header.xhtml" />
            </div>

            <ui:include src="mainMenu.xhtml" />

            <p:messages id="growl" showDetail="true" autoUpdate="true" closable="true" />

            <ui:include src="loginDialog.xhtml" />            

            <h:form id="contentForm" prependId="false" enctype="multipart/form-data;charset=UTF-8" acceptcharset="UTF-8">

                <div id="content" class="ui-fluid content">
                    <ui:insert name="content">Content</ui:insert>
                </div>
            </h:form>

        </f:view>
    </h:body>

</html>
