<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                >
    <h:outputLink value="index.xhtml">
        <h:graphicImage class="headertext" library="img" name="book90.png" alt="Logo" />
        <h:outputText class="headertext" value="registru online" />
    </h:outputLink>
</ui:composition>
