<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                >
    <h:form id="loginForm" prependId="false">
        <p:panel id="loginPanel" rendered="#{!userBean.isLoggedIn}">
            <h:outputLabel for="username" value="Nume:" />  
            <p:inputText value="#{userBean.username}" id="username" required="true" label="Nume utilizator" />  
            <h:outputLabel for="password" value="Parolă:" />  
            <p:password feedback="false" value="#{userBean.password}" id="password" required="true" label="Parola" />
            <p:commandButton id="loginButton" value="Autentificare" update=":menuForm:mainMenu,:contentForm,:loginForm,:growl" actionListener="#{userBean.doLogin}"/>  
        </p:panel>
    </h:form>
</ui:composition>
