<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                >
    <h:form id="menuForm">
        <p:menubar id="mainMenu">
            <p:menuitem value="Centralizare" url="isj.xhtml" icon="fa fa-database" rendered="#{userBean.ISJ}" />
            <p:submenu label="Solicitări" icon="fa fa-envelope" rendered="#{userBean.ISJ}">
                <p:menuitem value="Trimitere" url="send.xhtml" icon="fa fa-send-o" rendered="#{userBean.ISJ}" />
                <p:menuitem value="Editare" url="edit.xhtml" icon="fa fa-edit" rendered="#{userBean.ISJ}" />
                <p:menuitem value="Ștergere" url="delete.xhtml" icon="fa fa-close" rendered="#{userBean.ISJ}" />
            </p:submenu>
            <p:menuitem value="Actual" url="unitate.xhtml" icon="fa fa-exclamation"  rendered="#{userBean.unitate}"  />
            <p:menuitem value="Istoric" url="unitateHistory.xhtml" icon="fa fa-clock-o"  rendered="#{userBean.unitate}"  />
            <p:menuitem value="Registru" url="registru.xhtml" icon="fa fa-book" />
            <p:menuitem value="Detalii RSS" url="rssDetails.xhtml" icon="fa fa-rss" rendered="#{userBean.unitate}" />
            <p:menuitem value="Despre aplicație" icon="fa fa-question" url="about.xhtml" />
            <p:menuitem value="Ieșire" icon="fa fa-power-off" action="#{userBean.doLogout()}" oncomplete='window.location = "index.xhtml"' update=":menuForm:mainMenu,:contentForm,:growl" rendered="#{userBean.isLoggedIn}"/>
        </p:menubar>
    </h:form>
</ui:composition>
