<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                >
    <p:dialog id="aboutDialog" header="Despre Aplicație" widgetVar="aboutDlg" showEffect="fade" modal="true">
        <p:scrollPanel style="width:700px;height:600px;">
            <h3>FAQ</h3>
            Copyright &copy; 2014 by Balázsi Szilárd
            <h3>Tehnologii</h3>
            Tehnologiile utilizate:
            <ul>
                <li>
                    Tehnologia
                    <a target="_blank" href="http://www.oracle.com/technetwork/java/javaee/tech/index.html">JavaEE</a>
                </li>
                <li>
                    Facelet/GUI Framework
                    <a target="_blank" href="http://primefaces.org/">PrimeFaces</a>
                </li>
                <li>
                    Icoane
                    <a target="_blank" href="http://www.everaldo.com/crystal/">Crystal</a>
                </li>
                <li>
                    Report Framework
                    <a target="_blank" href="http://jasperforge.org/projects/jasperreports">JasperReports</a>
                </li>
                <li>
                    Server de aplicație
                    <a target="_blank" href="http://www.jboss.org/jbossas/">JBoss AS</a>
                </li>
                <li>
                    Server bază de date
                    <a target="_blank" href="http://www.postgresql.org/">PostgreSQL</a>
                </li>
                <li>
                    IDE
                    <a target="_blank" href="http://netbeans.org/">NetBeans</a>
                </li>
            </ul>
        </p:scrollPanel>
    </p:dialog>
</ui:composition>
