<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                >
    <h:graphicImage class="headertext" library="img" name="eduagregator60.png" alt="EDU|agregator logo" />
    <span class="headertext">
        <h:outputText value="EDU" />
        <h:outputText value="|" style="color:white;" />
        <h:outputText value="agregator" />
    </span>
</ui:composition>
