<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                >
    <h:form id="menuForm">
        <p:menubar id="mainMenu">
            <p:submenu label="MEN" rendered="#{userBean.MEN}">
                <p:menuitem value="Trimitere" url="sendMEN.xhtml" icon="ui-icon-mail-closed"  />
                <p:menuitem value="Registru" url="MEN.xhtml" icon="ui-icon-transfer-e-w"  />
                <p:menuitem value="Ștergere" url="deleteMEN.xhtml" icon="ui-icon-closethick"  />
            </p:submenu>
            <p:submenu label="Inspectorat" rendered="#{userBean.ISJ}">
                <p:menuitem value="Trimitere" url="send.xhtml" icon="ui-icon-mail-closed"  />
                <p:menuitem value="Registru" url="isj.xhtml" icon="ui-icon-transfer-e-w"  />
                <p:menuitem value="Ștergere" url="delete.xhtml" icon="ui-icon-closethick"  />
            </p:submenu>
            <p:submenu label="Unitate" rendered="#{userBean.unitate}">
                <p:menuitem value="Registru" url="unitate.xhtml" icon="ui-icon-transfer-e-w"  />
            </p:submenu>
            <p:menuitem value="Registru" url="registru.xhtml" icon="ui-icon-search" />
            <p:submenu label="Aplicație">
                <p:menuitem url="dolr_manual.pdf" value="Manual" icon="ui-icon-bookmark"/>
                <p:menuitem value="Despre" icon="ui-icon-help" onclick="aboutDlg.show()" />
            </p:submenu>
            <p:submenu id="userMenu" label="Utilizator">
                <p:menuitem value="Autentificare" icon="ui-icon-key" onclick="loginDlg.show()" rendered="#{!userBean.isLoggedIn}"/>
                <p:menuitem value="Detalii RSS" url="rssDetails.xhtml" icon="ui-icon-signal-diag" rendered="#{userBean.unitate}" />
                <p:menuitem value="Ieșire" icon="ui-icon-power" action="#{userBean.doLogout()}" oncomplete='window.location = "index.xhtml"' update=":menuForm:mainMenu,:contentForm" rendered="#{userBean.isLoggedIn}"/>
            </p:submenu>
        </p:menubar>

    </h:form>
</ui:composition>
