<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                >
    <p:dialog id="passwordChangeDialog" header="Schimbare parolă" widgetVar="passwordChangeDlg" modal="true" closable="false" showEffect="fade" hideEffect="fade" visible="true" rendered="#{userBean.needPasswordChange}">
        <p>
            Parola curentă nu este acceptabilă din punct de vedere a securității. Vă rugăm introduceți o parolă nouă.
        </p>
        <h:form id="passwordChangeForm" prependId="false">
            <h:panelGrid columns="2" cellpadding="5">  
                <h:outputLabel for="oldpassword" value="Parola curentă:" />  
                <p:password feedback="false" value="#{userBean.oldpassword}" id="oldpassword" required="true" label="Parola curentă" />
                <h:outputLabel for="password1" value="Parola nouă:" />  
                <p:password match="password2" feedback="true" value="#{userBean.password}" id="password1" required="true" label="Parola nouă" />
                <h:outputLabel for="password2" value="Parola nouă (din nou):" />  
                <p:password feedback="false" value="#{userBean.password2}" id="password2" required="true" label="Parola nouă (din din nou)" />
                <f:facet name="footer">  
                    <p:commandButton id="passwordChangeButton" value="Schimbare Parolă" update=":contentForm" actionListener="#{userBean.doPasswordChange}" oncomplete="passwordChangeDlg.hide()" />  
                </f:facet>  
            </h:panelGrid>  
        </h:form>
    </p:dialog>
</ui:composition>
