<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"

                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">
    <p:dialog header="Răspunsuri la solicitarea nr #{responseListerBean.selectedRegistruId}" id="responseDialog" widgetVar="responseReportDlg" modal="true" style="margin-bottom: 3em;" >
        <p:scrollPanel style="width:1000px;height:600px; border: 0px;" >
            <p:panel header="Legendă" style="margin-bottom: 1em;">
                <h:graphicImage alt="Trimis la termen" name="apply16.png" library="img" /> Trimis la termen |
                <h:graphicImage alt="Răspuns după termen" name="history.png" library="img" /> Trimis după termen |
                <h:graphicImage alt="Fără răspuns" name="cancel16.png" library="img" /> Fără răspuns trimis
            </p:panel>
            <p:panel style="border:0px;"  rendered="#{responseListerBean.selectedRegistruId>0}">
                <p:dataTable id="responseTable" var="raspuns" value="#{responseListerBean.raspuns}"
                             filteredValue="#{responseListerBean.filteredRaspuns}"
                             >
                    <p:column id="responseUnitName" headerText="Unitatea"
                              filterBy="#{raspuns.reciever.nume}" filterMatchMode="contains"
                              sortBy="#{raspuns.reciever.nume}"
                              styleClass="wrap"
                              >
                        <h:outputText value="#{raspuns.reciever.nume}"/>
                    </p:column>
                    <p:column headerText="Răspuns" style="text-align:center;"
                              filterBy="#{raspuns.raspStatus}"
                              filterMatchMode="exact"
                              filterOptions="#{registruListerBean.responseTypes}"
                              >
                        <h:graphicImage alt="Trimis la termen" name="apply16.png" library="img" rendered="#{raspuns.raspStatus==1}" />
                        <h:graphicImage alt="Fără răspuns" name="cancel16.png" library="img" rendered="#{raspuns.raspStatus==0}" />
                        <h:graphicImage alt="Răspuns după termen" name="history.png" library="img" rendered="#{raspuns.raspStatus==2}" />
                    </p:column>
                    <p:column headerText="Răspunsuri" style="text-align:center;">
                        <p:dataGrid var="raspDate" value="#{responseListerBean.getResponseList(raspuns.id)}" columns="1"
                                    emptyMessage="Fără răspuns"
                                    styleClass="borderless"
                                    >
                            <p:column id="raspDateDate" styleClass="borderless">
                                <p:commandLink action="#{downloadBean.downloadOneFile}" ajax="false">
                                    <f:setPropertyActionListener value="#{raspuns.id}" target="#{downloadBean.tid}" />
                                    <h:outputText value="#{raspDate.sentOn}" style="font-weight: bold;">
                                        <f:convertDateTime type="both" pattern="d MMMM yyyy 'ora' HH:mm " locale="ro" timeZone="EET" />
                                    </h:outputText>
                                    <h:graphicImage name="download16.png" library="img" />
                                </p:commandLink>

                                <h:outputText value="#{raspDate.sentOn}" rendered="#{!userBean.ISJ and userBean.user.unitate.sirues ne raspuns.reciever.superior.sirues}">
                                    <f:convertDateTime type="both" pattern="d MMMM yyyy 'ora' HH:mm " locale="ro" timeZone="EET" />
                                </h:outputText>

                            </p:column>
                        </p:dataGrid>
                    </p:column>
                </p:dataTable>
            </p:panel>
        </p:scrollPanel>
    </p:dialog>
</ui:composition>
