<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/defaultTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" >

    <ui:define name="content">
        <p:messages id="mess" showDetail="true" />
        <p:panel header="Ștergere" rendered="#{userBean.ISJ}">
            <p:outputLabel for="deleteNr" value="Nr. registru de șters: " />
            <p:inputText id="deleteNr" value="#{deleteBean.nr}" />
            <p:commandButton ajax="false" action="#{deleteBean.doDelete}" value="Ștergere" />
        </p:panel>
    </ui:define>

</ui:composition>
