<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/defaultTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                >

    <ui:define name="content">
        <p:panel header="Pagina de inițializare">
            <h2>Bine ați venit!</h2>
            Vă rugăm utilizați butonul pentru a crea un utilizator cu numele de "admin" și parola implicită "admin"
            <p:commandButton value="Inițializare" action="#{initBean.loadInitialData}" />
        </p:panel>
    </ui:define>

</ui:composition>
