<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/defaultTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" >

    <ui:define name="content">
        <p:panel header="Registru ISJ" rendered="#{userBean.ISJ}">
            <ui:include src="WEB-INF/responseDialog.xhtml" />

            <p:dialog header="Rapoarte #{responseListerBean.selectedRegistruId}" id="reportDialog" widgetVar="reportDlg" modal="true" 
                      style="width:700px;height:600px;"
                      >
                <p:pieChart rendered="#{responseListerBean.selectedRegistruId>0}" id="raspunsChart" value="#{responseListerBean.pieModel}" legendPosition="w"  
                            title="Situația Răspunsurilor" style="width:400px;height:300px" 
                            showDataLabels="true"
                            sliceMargin="5"
                            fill="false"
                            seriesColors="aa0000,ff7000,009000"
                            dataFormat="value"
                            />

                <!--separate variable and non variable types-->
                <!--if non-variable type-->
                <p>
                    <p:panelGrid columns="2">
                        <h:outputLabel for="reportRange" value="Celule scanate: " />
                        <p:inputText id="reportRange" value="#{reportBean.reportRange}" >
                        </p:inputText>
                    </p:panelGrid>
                    <p:panel header="Centralizare" style="margin:2em;">
                        <p:commandLink action="#{downloadBean.downloadReport}" ajax="false">
                            <h:graphicImage name="chart32.png" library="img" alt="Descarcă raportul selectat" style="vertical-align: center;" />
                            <f:setPropertyActionListener value="#{responseListerBean.selectedRegistruId}" target="#{downloadBean.rid}" />
                            <f:setPropertyActionListener value="#{reportBean.reportRange}" target="#{downloadBean.reportRange}" />
                            <h:outputText value="Copiere" />
                        </p:commandLink>
                    </p:panel>
                </p>


            </p:dialog>

            <p:dataTable id="isjRegistruList" 
                         var="registru" value="#{registruListerBean.registruList}"
                         paginator="true" rows="10"  
                         paginatorTemplate="pagina {PageLinks}"
                         rowsPerPageTemplate="10,25,50"
                         paginatorPosition="bottom"
                         >
                <p:column headerText="Nr." style="text-align: center;">
                    <h:outputText value="#{registru.nr}" />
                </p:column>
                <p:column headerText="Data">
                    <h:outputText value="#{registru.data}" styleClass="wrap">
                        <f:convertDateTime type="both" pattern="d MMMM yyyy" locale="ro" timeZone="EET" />
                    </h:outputText>
                </p:column>
                <p:column headerText="Titlu">
                    <h:outputText value="#{registru.shortname}" styleClass="wrap" />
                </p:column>

                <p:column headerText="Termen">
                    <h:outputText value="#{registru.termen}" styleClass="wrap" >
                        <f:convertDateTime type="both" pattern="d MMMM yyyy 'ora' HH:mm " locale="ro" timeZone="EET" />
                    </h:outputText>
                </p:column>

                <p:column headerText="Detalii" style="width:16px">  
                    <p:rowToggler />  
                </p:column>

                <p:column headerText="Stare" style="text-align:center; width:24px;">
                    <p:commandButton icon="ui-icon-search" oncomplete="responseReportDlg.show()" update=":contentForm:responseDialog" value="" style="height:24px; width:32px;" >
                        <f:setPropertyActionListener value="#{registru.nr}" target="#{responseListerBean.selectedRegistruId}" /> 
                    </p:commandButton>
                </p:column>

                <p:column headerText="Pachet" style="text-align:center; width:24px;">
                    <p:commandLink action="#{downloadBean.downloadZip}" ajax="false">
                        <h:graphicImage name="package16.png" library="img" alt="Descarcă pachetul cu răspunsuri" />
                        <f:setPropertyActionListener value="#{registru.nr}" target="#{downloadBean.rid}" />
                    </p:commandLink>
                </p:column>

                <p:column headerText="Rapoarte" style="text-align:center; width:24px;">
                    <p:commandButton icon="ui-icon-note" oncomplete="reportDlg.show()" update=":contentForm:reportDialog" value="" style="height:24px; width:32px;" >
                        <f:setPropertyActionListener value="#{registru.nr}" target="#{responseListerBean.selectedRegistruId}" /> 
                    </p:commandButton>
                </p:column>

                <p:rowExpansion>
                    Descriere:
                    <h:outputText value="#{registru.description}"/>
                </p:rowExpansion>  
            </p:dataTable>
        </p:panel>
    </ui:define>

</ui:composition>
