<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/defaultTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" >

    <ui:define name="content">
        <p:messages id="mess" showDetail="true" />
        <p:panel header="Trimitere" rendered="#{userBean.ISJ}">
                <h:panelGrid columns="2" style="width:50em;">
                    <h:outputText value="Titlu:" />
                    <p:inputText style="width:90%;" value="#{sendBean.titlu}" required="true" requiredMessage="Titlu necompletat" /> 
                    <h:outputText value="Descriere:" />
                    <p:inputTextarea style="width:90%;" value="#{sendBean.descriere}" required="true" requiredMessage="Descriere necompletată" />
                    <h:outputText value="Termen:" />
                    <p:calendar pattern="dd.MM.yyyy HH:mm" value="#{sendBean.termen}" required="true" requiredMessage="Termen necompletat" />
                    <h:outputText value="Tip machetă:" />
                    <p:selectOneMenu value="#{sendBean.tipStat}" converter="tipStatConverter" effect="fade" effectSpeed="10">
                        <f:selectItems value="#{tipStatListerBean.tipStatList}" var="tipStat" itemLabel="#{tipStat.nume}" />
                    </p:selectOneMenu>
                    <h:outputText value="Machetă:" />
                    <p:fileUpload id="fileUploader"
                                  fileUploadListener="#{sendBean.handleFileUpload}"
                                  invalidFileMessage="Tip fișier invalid. Trebuie să fie .xls (Excel 2003)"
                                  invalidSizeMessage="Mărime peste 1MiB"
                                  mode="advanced"
                                  auto="true"  
                                  sizeLimit="1048576"
                                  allowTypes="/(\.|\/)xls$/"
                                  label="Upload"
                                  update=":contentForm:fileUploadMessages"
                                  oncomplete=""
                                  required="true"
                                  >
                    </p:fileUpload>
                </h:panelGrid>
                <p:message id="fileUploadMessages" for="fileUploader">
                    <p:effect type="pulsate" event="load" delay="500">
                        <f:param name="mode" value="'show'" />
                        <f:param name="times" value="'2'" />
                    </p:effect>
                </p:message>
                <p:pickList id="picklist" var="unitate" value="#{sendBean.unitati}"
                            itemLabel="#{unitate.nume}" itemValue="#{unitate}"
                            showSourceFilter="true" showTargetFilter="true"
                            filterMatchMode="contains"
                            style="width:70em;"
                            converter="unitateConverter"
                            required="true"
                            requiredMessage="Selectați o unitate"
                            >
                    <f:facet name="sourceCaption">Listă unități</f:facet>
                    <f:facet name="targetCaption">Listă către</f:facet>  
                </p:pickList>

                <p:commandButton action="#{sendBean.doSendStat()}"
                                 value="Trimitere" 
                                 ajax="false"
                                 />
        </p:panel>
    </ui:define>

</ui:composition>
