<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/defaultTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" >

    <ui:define name="content">
        <p:panel header="Încarcă machetă completată" style="margin-bottom:2em;" rendered="#{userBean.ISJ||userBean.unitate}">
            <p:fileUpload id="fileUploader" fileUploadListener="#{responseBean.handleFileUpload}"
                          invalidFileMessage="Tip fișier invalid. Trebuie să fie Excel)"
                          invalidSizeMessage="Mărime peste 2MiB"
                          mode="advanced"
                          auto="true"  
                          sizeLimit="2097152"
                          allowTypes="/(\.|\/)(xls|xlsx)$/"
                          label="Upload"
                          update=":contentForm:fileUploadMessages :contentForm:unitateTransferList"
                          oncomplete=""
                          style="margin-bottom: 1em;" />

            <p:messages id="fileUploadMessages" for="fileUploader" showDetail="true">
                <p:effect type="pulsate" event="load" delay="500">
                    <f:param name="mode" value="'show'" />
                    <f:param name="times" value="'1'" />
                </p:effect>
            </p:messages>
        </p:panel>
        <p:panel header="Registru solicitări către #{userBean.user.unitate.nume}" rendered="#{userBean.ISJ||userBean.unitate}">
            <p:dataTable id="unitateTransferList" var="transfer" value="#{unitateRegistruListerBean.transferList}"
                         >
                <p:column headerText="">
                    <h:graphicImage alt="Trimis la termen" name="apply16.png" library="img" rendered="#{transfer.raspStatus==1}" />
                    <h:graphicImage alt="Fără răspuns" name="cancel16.png" library="img" rendered="#{transfer.raspStatus==0}" />
                    <h:graphicImage alt="Răspuns după termen" name="history.png" library="img" rendered="#{transfer.raspStatus==2}" />
                </p:column>
                <p:column headerText="Nr.">
                    <h:outputText value="#{transfer.registru.nr}" />
                </p:column>
                <p:column headerText="Data">
                    <h:outputText value="#{transfer.registru.data}" >
                        <f:convertDateTime type="both" pattern="d MMMM yyyy" locale="ro" timeZone="EET" />
                    </h:outputText>
                </p:column>
                <p:column headerText="Titlu">
                    <h:outputText value="#{transfer.registru.shortname}" />
                </p:column>

                <p:column headerText="Termen">
                    <h:outputText value="#{transfer.registru.termen}" >
                        <f:convertDateTime type="both" pattern="d MMMM yyyy 'ora' HH:mm " locale="ro" timeZone="EET" />
                    </h:outputText>
                </p:column>

                <p:column headerText="Machetă" style="text-align:center;">
                    <p:commandLink action="#{downloadBean.downloadFile}" ajax="false" >
                        <h:graphicImage name="chart16.png" library="img" alt="Descarcă macheta personalizată" />
                        <f:setPropertyActionListener value="#{transfer.id}" target="#{downloadBean.tid}" />
                    </p:commandLink>
                </p:column>

                <p:column headerText="Detalii" style="width:16px">  
                    <p:rowToggler />  
                </p:column>

                <p:rowExpansion>
                    Descriere:
                    <pre class="ui-widget">
                        <h:outputText value="#{transfer.registru.description}"/>
                    </pre>
                    <ul>
                        <li>
                            <h:outputText rendered="#{!transfer.registru.tipStat.ar}" value="Datele se colectează pe nivel PJ! Completați doar primul Sheet." />
                            <h:outputText rendered="#{transfer.registru.tipStat.ar}" value="Datele se colectează pe nivel structură! Completați fiecare Sheet cu datele referitoare la structurile respective." />
                        </li>
                        <li>
                            <h:outputText rendered="#{!transfer.registru.tipStat.variable}" value="Macheta e de tip tabel, completați doar căsuțele cu datele cerute. Datele scrise în afara tabelului nu se iau în considerare." />
                            <h:outputText rendered="#{transfer.registru.tipStat.variable}" value="Macheta e de tip catalog, completați rândurile în ordinea sus în jos, începând cu primul rând următor capului de tabel. Nu săriți peste rânduri, nu lăsați celule necompletate. Tabelul trebuie să conțină doar datele cerute (în cazul în care va trebui să trimiteți pe suport hârtie tabelul va fi preparat încât locul ștampilei și semnătura să apară automat după imprimare."/>
                        </li>
                    </ul>
                </p:rowExpansion>  

            </p:dataTable>
        </p:panel>
    </ui:define>

</ui:composition>
