#top {
    position: relative;
    margin-bottom:1em;
}

/*
#content {
    margin-left:15em;
}

#left {
    position:absolute;
    float:left;
    width: 12em;
    min-height: 20em;
    margin-right: -100%;
}
*/