html {
    font-size:0.8em;
    background:#eee;
}

.headertext {
    font-size:1.6em;
    vertical-align: middle;
    padding:5px;

}

.bold {
    font-weight: bold;
}

#display .i{
    display: block;
    text-align: center;
    width:3em;
    border:0;
}

#display .np {
    padding:0;
}

img {

    border:0;
}

.ui-datatable input.ui-column-filter {
    width:90%;
}

div.ui-panel-titlebar{
    height:auto; 
}

ul.ui-picklist-list{
    width:400px !important;
}

.ui-datatable tbody td.wrap {
    white-space: normal;
}

a {
    font-weight:bold;
    text-decoration: none;
}

.ui-datatable tbody td.borderless {
    border: 0px;
}

.ui-datagrid-data tbody td {
    border: 0px;
}

.borderless .ui-widget-content {
    border: 0px;
}

.jqplot-series-canvas {
  background:transparent;
}