<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/defaultTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                >
    <ui:define name="content">
        <p:panel header="Despre aplicație">
            <h3>FAQ</h3>
            <ol>
                <li>
                    <b>Cum se desfășoară transferul de date prin aplicație?</b>
                    <p>
                        Transferul de date se desfășoară conform pașilor:
                        <ol>
                            <li>Inspectoratul trimite o solicitare prin program destinat unităților cu număr de înregistrare și dată. Solicitarea are un termen, titlu, responsabil și o descriere cât și o machetă excel.</li>
                            <li>Unitățile vizate de solicitare descarcă macheta excel (care este personalizată fiecărei unități), o completează cu datele cerute și-l trimite la ISJ prin aplicație.</li>
                            <li>Aplicația verifică data ultimei transmiteri a machetei și modifică starea de "netrimis" în unul dintre: "trimis" sau "trimis după termen"</li>
                        </ol>
                    </p>
                </li>
                <li>
                    <b>Aplicația nu mă lasă să aleg la care solicitare doresc să răspund!</b>
                    <p>Aplicația decide automat bazat pe machetă. Unitățile descarcă o machetă personalizată așadar fiecare machetă e unică pentru unitatea și solicitarea respectivă.</p>
                    <p>Acest fapt impune următoarele restricții:</p>
                    <ol>
                        <li>Nu se pot utiliza alte machete decât cele descărcate de unitatea respectivă</li>
                        <li>Nu se pot utiliza machete destinate altor unități</li>
                        <li>Nu se pot modifica machetele în nici un fel</li>
                    </ol>
                    <p>Acest mechanism are următoarele beneficii:</p>
                    <p>
                        <ol>
                            <li>Se elimină cazurile unde unitățile au trimis machete incorecte sau destinate altor solicitări</li>
                            <li>Machetele pot fi centralizate automat de aplicație fără interacțiune umană și se elimină pierderea de timp care rezultă prin căutarea machetelor între 7000 de mailuri fiindcă unele unități sunt incapabile să urmeze niște instrucțiuni simple.</li>
                            <li>Unitățile au feedback instant despre primirea sau respingerea machetei cât și un mechanism de urmărire a transmisiilor (nr/data transfer)</li>
                        </ol>
                    </p>
                </li>
                <li>
                    <b>Nu pot încărca macheta chiar dacă nu am schimbat nimic la el!</b>
                    <p>Machetele originale sunt în format Excel 2007. Dacă folosiți Microsoft Office 2007/2010/2013/2016 sau OpenOffice/LibreOffice acestea vor întreba la salvare dacă doriți să salvați în alt format. Salvarea în alt format este o modificare a machetei, ca atare nu poate fi încărcat în aplicație.</p>
                </li>
                <li>
                    <b>Aplicația nu încape pe ecran sau se comportă ciudat!</b>
                    <p>Aplicația a fost dezvoltată primar pentru browserul Google Chrome pe linux cu o rezoluție de ecran 1920x1080 și funcționază fără probleme pe fiecare browser modern care conformă standardelor (Mozilla Firefox, Google Chrome, Apple Safari, Opera). Internet Explorer și Microsoft Edge nu este suportat și nu va fi suportat.</p>
                </li>
            </ol>

            <h3>Legal</h3>
            <p>Aplicația este licențiată pentru utilizare de către ISJ Covasna fără cost pe durata cooperarării între autor/ copyright-holder și instituție, sub licența <a target="_blank" href="https://www.gnu.org/licenses/gpl-2.0.html">GNU GPL V2</a>.
                <br />
                Copyright &copy; 2017 by Balázsi Szilárd</p>
            <h3>Tehnologii</h3>
            <p>Tehnologiile utilizate:</p>
            <ul>
                <li>
                    Middleware
                    <a target="_blank" href="http://www.oracle.com/technetwork/java/javaee/tech/index.html">Java Enterprise Edition</a>
                </li>
                <li>
                    Facelet/GUI Framework
                    <a target="_blank" href="http://primefaces.org/">PrimeFaces</a>
                </li>
                <li>
                    Icoane
                    <a target="_blank" href="http://www.everaldo.com/crystal/">Crystal</a> și <a target="_blank" href="http://fontawesome.io/">Font Awesome</a>
                </li>
                <li>
                    Report Framework
                    <a target="_blank" href="http://jasperforge.org/projects/jasperreports">JasperReports</a>
                </li>
                <li>
                    Server de aplicație
                    <a target="_blank" href="http://tomee.apache.org/">Apache TomEE</a>
                </li>
                <li>
                    Server bază de date
                    <a target="_blank" href="https://www.mysql.com/">MySQL</a>
                </li>
                <li>
                    Server OS
                    <a target="_blank" href="https://www.ubuntu.com/server">Ubuntu Server</a>
                </li>
            </ul>
        </p:panel>
    </ui:define>
</ui:composition>
