<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/defaultTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="content">
        <p:panel header="Editare" rendered="#{userBean.ISJ}">
            <p:dataTable id="isjRegistruList" 
                         var="registru" value="#{registruEditBean.registruList}"
                         paginator="true" rows="10"  
                         paginatorTemplate="pagina {PageLinks}"
                         rowsPerPageTemplate="10,25,50"
                         paginatorPosition="bottom"
                         lazy="true"
                         sortField="nr"
                         sortOrder="descending"
                         reflow="true"
                         selectionMode="single"
                         rowKey="#{registru.nr}"
                         selection="#{registruEditBean.selectedRegistru}"
                         >
                
                <p:ajax event="rowSelect" oncomplete="window.location='editRegistru.xhtml'"/>
                
                <p:column sortBy="#{registru.nr}" filterBy="#{registru.nr}" headerText="Nr." style="text-align: center; width: 3em;">
                    <h:outputText value="#{registru.nr}" />
                </p:column>
                <p:column headerText="Data" sortBy="#{registru.data}" filterBy="#{registru.data}">
                    <h:outputText value="#{registru.data}" >
                        <f:convertDateTime type="both" pattern="d MMMM yyyy" locale="ro" timeZone="EET" />
                    </h:outputText>
                </p:column>
                <p:column headerText="Titlu" sortBy="#{registru.shortname}" filterBy="#{registru.shortname}" >
                    <h:outputText value="#{registru.shortname}" />
                </p:column>

                <p:column headerText="Termen" sortBy="#{registru.termen}" filterBy="#{registru.termen}">
                    <h:outputText value="#{registru.termen}" >
                        <f:convertDateTime type="both" pattern="d MMMM yyyy 'ora' HH:mm " locale="ro" timeZone="EET" />
                    </h:outputText>
                </p:column>

                <p:column sortBy="#{registru.responsabil}" filterBy="#{registru.responsabil}" >
                    <f:facet name="header">
                        Responsabil
                    </f:facet>
                    <h:outputText value="#{registru.responsabil}" />
                </p:column>

                <p:column style="width:2em;">
                    <f:facet name="header">
                        R
                    </f:facet>
                    <h:outputText value="-" rendered="#{(registru.nrtotal-registru.nrresponses) eq 0}" style="color:green;" />
                    <h:outputText value="#{registru.nrtotal-registru.nrresponses}" rendered="#{(registru.nrtotal-registru.nrresponses) ne 0}" style="font-weight: bold; color:red;" />
                </p:column>
            </p:dataTable>
        </p:panel>
    </ui:define>


</ui:composition>
