<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/defaultTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="content">
        <p:panel header="Editare Registru #{registruEditBean.selectedRegistru.nr}" rendered="#{userBean.ISJ}">
            <h:panelGrid columns="2" style="width:50em;">
                <h:outputText value="Titlu:" />
                <p:inputText style="width:90%;" value="#{registruEditBean.titlu}" required="true" requiredMessage="Titlu necompletat">
                    <f:validateLength minimum="0" maximum="100" /> 
                </p:inputText>
                <h:outputText value="Responsabil:" />
                <p:inputText style="width:90%;" value="#{registruEditBean.responsabil}" required="false">
                    <f:validateLength minimum="0" maximum="100" /> 
                </p:inputText>
                <h:outputText value="Data publicării:" />
                <p:calendar pattern="dd.MM.yyyy HH:mm" value="#{registruEditBean.publishDate}" required="true" requiredMessage="Data publicării necompletat" />
                <h:outputText value="Termen:" />
                <p:calendar pattern="dd.MM.yyyy HH:mm" value="#{registruEditBean.termen}" required="true" requiredMessage="Termen necompletat" />
                <h:outputText value="Tip machetă:" />
                <p:selectOneMenu value="#{registruEditBean.tipStat}" converter="tipStatConverter" effect="fade" effectSpeed="10">
                    <f:selectItems value="#{tipStatListerBean.tipStatList}" var="tipStat" itemLabel="#{tipStat.nume}" />
                </p:selectOneMenu>
            </h:panelGrid>

            <p:commandButton action="#{registruEditBean.doEdit()}"
                             value="Editare" 
                             ajax="false"
                             update=":growl"
                             />
        </p:panel>
    </ui:define>


</ui:composition>
