<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/defaultTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"

                xmlns:h="http://java.sun.com/jsf/html">

    <ui:define name="content">
        <p:panel header="Pagina principală">
            <h2>Bine ați venit!</h2>
            <p>
                <h:outputText value="Nr. solicitări fără răspuns: " rendered="#{userBean.isLoggedIn}" />
                <h:outputText value="#{unitateRegistruListerBean.actual}" rendered="#{userBean.isLoggedIn}" style="font-weight: bold;" />
            </p>
            <p>
                <h:outputText value="din care ieșite din termen: " rendered="#{userBean.isLoggedIn}" />
                <h:outputText value="#{unitateRegistruListerBean.expired}" rendered="#{userBean.isLoggedIn and unitateRegistruListerBean.expired gt 0}" style="font-weight: bold; color:red;" />
                <h:outputText value="#{unitateRegistruListerBean.expired}" rendered="#{userBean.isLoggedIn and unitateRegistruListerBean.expired eq 0}" />
            </p>
            <p>
                <p:chart type="pie" model="#{unitateRegistruListerBean.model}" rendered="#{userBean.isLoggedIn}" style="max-width: 40em;" />
            </p>
            
        </p:panel>
    </ui:define>

</ui:composition>
