<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/defaultTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" >

    <ui:define name="content">
        <p:panel header="Registru ISJ" rendered="#{userBean.ISJ}">
            <p:dialog header="Rapoarte #{responseListerBean.selectedRegistruId}" id="reportDialog" widgetVar="reportDlg" modal="true" 
                      style="width:700px;height:600px;"
                      >
                <p>
                    <p:panelGrid columns="2">
                        <h:outputLabel for="reportRange" value="Celule scanate: " />
                        <p:inputText id="reportRange" value="#{reportBean.reportRange}">
                        </p:inputText>
                    </p:panelGrid>
                    <p:panel header="Centralizare" style="margin:2em;">
                        <p:commandLink action="#{downloadBean.downloadReportNg}" ajax="false">
                            <h:graphicImage name="chart32.png" library="img" alt="Descarcă raportul selectat" style="vertical-align: center;" />
                            <f:setPropertyActionListener value="#{responseListerBean.selectedRegistruId}" target="#{downloadBean.rid}" />
                            <f:setPropertyActionListener value="#{reportBean.reportRange}" target="#{downloadBean.reportRange}" />
                            <f:setPropertyActionListener value="#{reportBean.selectedUnitateAttributes}" target="#{downloadBean.selectedUnitateAttributes}" />
                            <h:outputText value="Copiere" />
                        </p:commandLink>
                    </p:panel>

                    <p:dataTable value="#{reportBean.unitateAttributes}"
                                 var="unitate"
                                 selection="#{reportBean.selectedUnitateAttributes}"
                                 rowKey="#{unitate}"
                                 style="width:10em;"
                                 reflow="true"
                                 >
                        <p:column selectionMode="multiple" style="width:16px;text-align:center"/>
                        <p:column headerText="Atribute dorite">
                            <h:outputText value="#{unitate}" />
                        </p:column>
                    </p:dataTable>
                </p>


            </p:dialog>

            <p:dataTable id="isjRegistruList" 
                         var="registru" value="#{registruListerBean.registruList}"
                         paginator="true" rows="10"  
                         paginatorTemplate="pagina {PageLinks}"
                         rowsPerPageTemplate="10,25,50"
                         paginatorPosition="bottom"
                         lazy="true"
                         sortField="nr"
                         sortOrder="descending"
                         reflow="true"
                         >
                <p:column sortBy="#{registru.nr}" filterBy="#{registru.nr}" headerText="Nr." style="text-align: center; width: 3em;">
                    <h:outputText value="#{registru.nr}" />
                </p:column>
                <p:column headerText="Data" sortBy="#{registru.data}" filterBy="#{registru.data}">
                    <h:outputText value="#{registru.data}" >
                        <f:convertDateTime type="both" pattern="d MMMM yyyy" locale="ro" timeZone="EET" />
                    </h:outputText>
                </p:column>
                <p:column headerText="Titlu" sortBy="#{registru.shortname}" filterBy="#{registru.shortname}" >
                    <h:outputText value="#{registru.shortname}" />
                </p:column>

                <p:column headerText="Termen" sortBy="#{registru.termen}" filterBy="#{registru.termen}">
                    <h:outputText value="#{registru.termen}" >
                        <f:convertDateTime type="both" pattern="d MMMM yyyy 'ora' HH:mm " locale="ro" timeZone="EET" />
                    </h:outputText>
                </p:column>

                <p:column sortBy="#{registru.responsabil}" filterBy="#{registru.responsabil}" >
                    <f:facet name="header">
                        Responsabil
                    </f:facet>
                    <h:outputText value="#{registru.responsabil}" />
                </p:column>
                
                <p:column style="width:2em;">
                    <f:facet name="header">
                        R
                    </f:facet>
                    <h:outputText value="-" rendered="#{(registru.nrtotal-registru.nrresponses) eq 0}" style="color:green;" />
                    <h:outputText value="#{registru.nrtotal-registru.nrresponses}" rendered="#{(registru.nrtotal-registru.nrresponses) ne 0}" style="font-weight: bold; color:red;" />
                </p:column>
                
                <p:column headerText="Detalii" style="width:16px">  
                    <p:rowToggler />  
                </p:column>

                <p:column headerText="Stare" style="text-align:center; width:24px;">
                    <p:commandButton icon="ui-icon-search" oncomplete="window.location='responseStatus.xhtml'" value="" style="height:24px; width:32px;" >
                        <f:setPropertyActionListener value="#{registru.nr}" target="#{responseListerBean.selectedRegistruId}" />
                    </p:commandButton>
                </p:column>

                <p:column headerText="Pachet" style="text-align:center; width:24px;">
                    <p:commandLink action="#{downloadBean.downloadZip}" ajax="false">
                        <f:setPropertyActionListener value="#{registru.nr}" target="#{downloadBean.rid}" />
                        <h:graphicImage name="package16.png" library="img" alt="Descarcă pachetul cu răspunsuri" />
                    </p:commandLink>
                </p:column>

                <p:column headerText="Rapoarte" style="text-align:center; width:24px;">
                    <p:commandButton icon="ui-icon-note" oncomplete="PF('reportDlg').show()" update=":contentForm:reportDialog" value="" style="height:24px; width:32px;" >
                        <f:setPropertyActionListener value="#{registru.nr}" target="#{responseListerBean.selectedRegistruId}" /> 
                    </p:commandButton>
                </p:column>
           </p:dataTable>
        </p:panel>
    </ui:define>

</ui:composition>
