<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/defaultTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" >

    <ui:define name="content">
        <p:panel header="Registru">
            <p:dataTable id="isjRegistruList" 
                         var="registru" value="#{registruListerBean.registruList}"
                         paginator="true" rows="10"  
                         paginatorTemplate="pagina {PageLinks}"
                         paginatorPosition="bottom"
                         lazy="true"
                         sortField="nr"
                         sortOrder="descending"
                         reflow="true"
                         >
                <p:column sortBy="#{registru.nr}" filterBy="#{registru.nr}" style="text-align: center; width:3em;">
                    <f:facet name="header">
                        Nr.
                    </f:facet>
                    <h:outputText value="#{registru.nr}" />
                </p:column>
                <p:column sortBy="#{registru.data}" filterBy="#{registru.data}">
                    <f:facet name="header">
                        Data
                    </f:facet>
                    <h:outputText value="#{registru.data}" >
                        <f:convertDateTime type="both" pattern="d MMMM yyyy" locale="ro" timeZone="EET" />
                    </h:outputText>
                </p:column>
                <p:column sortBy="#{registru.shortname}" filterBy="#{registru.shortname}" >
                    <f:facet name="header">
                        Titlu
                    </f:facet>
                    <h:outputText value="#{registru.shortname}" />
                </p:column>

                <p:column  sortBy="#{registru.termen}" filterBy="#{registru.termen}" >
                    <f:facet name="header">
                        Termen
                    </f:facet>
                    <h:outputText value="#{registru.termen}" >
                        <f:convertDateTime type="both" pattern="d MMMM yyyy 'ora' HH:mm " locale="ro" timeZone="EET" />
                    </h:outputText>
                </p:column>

                <p:column sortBy="#{registru.responsabil}" filterBy="#{registru.responsabil}" >
                    <f:facet name="header">
                        Responsabil
                    </f:facet>
                    <h:outputText value="#{registru.responsabil}" />
                </p:column>
                
                <p:column headerText="Detalii" style="width:16px" exportable="false">  
                    <p:rowToggler />  
                </p:column>

                <p:column headerText="Răspunsuri" style="text-align:center; width:24px;" exportable="false">
                    <p:commandButton icon="ui-icon-search" oncomplete="window.location='responseStatusBrief.xhtml'" value="" style="height:24px; width:32px;" >
                        <f:setPropertyActionListener value="#{registru.nr}" target="#{responseListerBean.selectedRegistruId}" />
                    </p:commandButton>
                </p:column>
            </p:dataTable>

            <p:separator style="height:5px;" />
            <h:panelGrid columns="3">
                <p:commandButton value="Reîmprospătare tabel" action="#{registruListerBean.loadData()}" update=":contentForm:isjRegistruList" icon="ui-icon-refresh" title="Reîmprospătare tabel"/>
                <p:commandButton value="Export Excel" icon="ui-icon-calculator" ajax="false" title="Export Excel">
                    <p:dataExporter type="xlsx" target="isjRegistruList" fileName="registru"/>
                </p:commandButton>
            </h:panelGrid>
        </p:panel>
    </ui:define>


</ui:composition>
