<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/defaultTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">
    <ui:define name="content">
        <p:panel>        
            <h2><h:outputText value=" #{responseListerBean.selectedRegistruShortName}"/></h2>
            <p:panel style="border:0px;"  rendered="#{responseListerBean.selectedRegistruId>0}">
                <p:dataTable id="responseTable" var="transfer" value="#{responseListerBean.transfers}"
                             paginator="true" rows="100"  
                             paginatorTemplate="pagina {PageLinks}"
                             paginatorPosition="bottom"
                             rowIndexVar="rowIndex"
                             lazy="true"
                             reflow="true"
                             style="max-width:60em;"
                             >

                    <p:column headerText="Nr" style="width:1em; text-align:center;">
                        #{rowIndex+1}
                    </p:column>

                    <p:column id="responseUnitName" headerText="Unitatea"
                              filterBy="#{transfer.reciever.nume}" filterMatchMode="contains"
                              sortBy="#{transfer.reciever.nume}"
                              >
                        <h:outputText value="#{transfer.reciever.nume}"/>
                    </p:column>
                    <p:column headerText="Stare" style="text-align:center; width:4em;"
                              filterBy="#{transfer.raspStatus}"
                              filterMatchMode="exact"
                              filterOptions="#{registruListerBean.responseTypes}"
                              >
                        <h:graphicImage alt="Trimis la termen" name="apply16.png" library="img" rendered="#{transfer.raspStatus==1}" />
                        <h:graphicImage alt="Fără răspuns" name="cancel16.png" library="img" rendered="#{transfer.raspStatus==0}" />
                        <h:graphicImage alt="Răspuns după termen" name="history.png" library="img" rendered="#{transfer.raspStatus==2}" />
                    </p:column>
                    <p:column headerText="R" sortBy="#{transfer.raspCount}" filterBy="#{transfer.raspCount}" style="text-align:center; width:1em;">
                        <h:outputText value="#{transfer.raspCount}"/>
                    </p:column>
                    <p:column sortBy="#{transfer.lastRaspuns.sentOn}" filterBy="#{transfer.lastRaspuns.sentOn}" headerText="Ultimul răspuns" style="text-align:center; width:16em;">
                        <h:outputText value="#{transfer.lastRaspuns.sentOn}">
                            <f:convertDateTime type="both" pattern="d MMMM yyyy 'ora' HH:mm " locale="ro" timeZone="EET" />
                        </h:outputText>
                    </p:column>
                </p:dataTable>
            </p:panel>
        </p:panel>
    </ui:define>
</ui:composition>
