<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/defaultTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"

                xmlns:h="http://java.sun.com/jsf/html">

    <ui:define name="content">
        <p:panel header="Detalii RSS">
            <p>Aplicația vă permite să verificați cu tehnologia <a href="https://ro.wikipedia.org/wiki/RSS">RSS</a> solicitările postate. Avantajul fluxurilor RSS este că sunt actualizate rapid și nu trebuie să verificați noutățile manual.</p>
            <p>Pentru a verifica fluxurile RSS vă trebuie un program care citește fluxuri RSS de exemplu: 
                <ul>
                    <li><a href="http://www.rssowl.org/">RSSOwl</a></li>
                    <li><a href="http://www.feedreader.com/">FeedReader</a></li>
                    <li><a href="https://www.mozilla.org/en-US/thunderbird/">Thunderbird</a></li>
                    <li><a href="https://digg.com/reader">Digg Reader</a></li>
                </ul>
            </p>
            <p>
                Adăugați fluxul în program și deja aveți acces direct la machete.</p><p>
                Adresa fluxului personalizat pentru <h:outputText value="#{userBean.user.unitate.nume}" /> este:

                <b>
                    <h:outputLink value="#{userBean.RSS}" >
                        Link
                    </h:outputLink>
                </b>
                (dați clic dreapta pe link și copiați-l)
            </p>
        </p:panel>
    </ui:define>

</ui:composition>
