<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/defaultTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" >

    <ui:define name="content">
        <p:panel header="Trimitere" rendered="#{userBean.ISJ}">
            <h:panelGrid columns="2" style="width:50em;">
                <h:outputText value="Titlu:" />
                <p:inputText style="width:90%;" value="#{sendBean.titlu}" required="true" requiredMessage="Titlu necompletat">
                    <f:validateLength minimum="0" maximum="100" /> 
                </p:inputText>
                <h:outputText value="Responsabil:" />
                <p:inputText style="width:90%;" value="#{sendBean.responsabil}" required="false">
                    <f:validateLength minimum="0" maximum="100" /> 
                </p:inputText>
                <h:outputText value="Publicare:" />
                <p:calendar pattern="dd.MM.yyyy HH:mm" value="#{sendBean.publishDate}" required="true" requiredMessage="Data publicării necompletat" />
                <h:outputText value="Termen:" />
                <p:calendar pattern="dd.MM.yyyy HH:mm" value="#{sendBean.termen}" required="true" requiredMessage="Termen necompletat" />
                <h:outputText value="Tip machetă:" />
                <p:selectOneMenu value="#{sendBean.tipStat}" converter="tipStatConverter" effect="fade" effectSpeed="10">
                    <f:selectItems value="#{tipStatListerBean.tipStatList}" var="tipStat" itemLabel="#{tipStat.nume}" />
                </p:selectOneMenu>
                <h:outputText value="Machetă:" />
                <p:fileUpload id="fileUploader"
                              fileUploadListener="#{sendBean.handleFileUpload}"
                              invalidFileMessage="Tip fișier invalid. Trebuie să fie .xlsx (Excel 2007)"
                              mode="advanced"
                              auto="true"  
                              allowTypes="/(\.|\/)xlsx$/"
                              label="Upload"
                              oncomplete=""
                              required="true"
                              >
                </p:fileUpload>
            </h:panelGrid>

            <p:dataTable 
                id="targeting" 
                var="unitate" value="#{sendBean.unitati}"
                rowKey="#{unitate[0]}"
                selection="#{sendBean.selectedUnitati}"
                >
                <p:column selectionMode="multiple" style="width:16px;text-align:center"/>
                <p:column filterBy="#{unitate[0].nume}" filterMatchMode="contains" headerText="Denumire">
                    <h:outputText value="#{unitate[0].nume}" />
                </p:column>
                <p:columns var="attrib" value="#{sendBean.columns}" columnIndexVar="colIndex" headerText="#{attrib.header}" sortBy="#{unitate[attrib.id].attribValue}" filterBy="#{unitate[attrib.id].attribValue}" filterMatchMode="contains">
                    <h:outputText value="#{unitate[attrib.id].attribValue}" />
                </p:columns>

            </p:dataTable>
            <p:commandButton action="#{sendBean.doSendStat()}"
                             value="Trimitere" 
                             ajax="false"
                             update=":growl"
                             />
        </p:panel>
    </ui:define>

</ui:composition>
