<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/defaultTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" >

    <ui:define name="content">
        <p:panel header="Încarcă machetă completată" style="margin-bottom:2em;" rendered="#{userBean.ISJ||userBean.unitate}">
            <p:fileUpload id="fileUploader" fileUploadListener="#{responseBean.handleFileUpload}"
                          invalidFileMessage="Tip fișier invalid. Trebuie să fie .xls (Excel 2007)"
                          mode="advanced"
                          auto="true"  
                          allowTypes="/(\.|\/)xlsx$/"
                          label="Upload"
                          update=":contentForm:unitateTransferList"
                          oncomplete=""
                          style="margin-bottom: 1em;" />
            
        </p:panel>
        <p:panel header="Registru solicitări actuale către #{userBean.user.unitate.nume}" rendered="#{userBean.ISJ||userBean.unitate}">
            <p:dataTable id="unitateTransferList"
                         paginator="true" rows="10"  
                         paginatorTemplate="pagina {PageLinks}"
                         paginatorPosition="bottom"
                         var="transfer"
                         value="#{unitateRegistruListerBean.actualTransferList}"
                         sortField="registru.nr"
                         sortOrder="descending"
                         lazy="true"
                         widgetVar="unitateTransferList"
                         emptyMessage="În prezent nu există solicitări fără răspuns"
                         reflow="true"
                         >
                <p:column headerText="" style="width:1em;"
                          sortBy="#{transfer.raspStatus}"
                          >
                    <h:graphicImage alt="Trimis la termen" name="apply16.png" library="img" rendered="#{transfer.raspStatus==1}" />
                    <h:graphicImage alt="Fără răspuns" name="cancel16.png" library="img" rendered="#{transfer.raspStatus==0}" />
                    <h:graphicImage alt="Răspuns după termen" name="history.png" library="img" rendered="#{transfer.raspStatus==2}" />
                </p:column>

                <p:column headerText="Machetă" style="text-align:center;width:4em;">
                    <p:commandLink action="#{downloadBean.downloadMacheta}" ajax="false" >
                        <div>
                            <f:setPropertyActionListener value="#{transfer.id}" target="#{downloadBean.tid}" />
                            <span style="margin-right:.5em;" class="fa fa-fw fa-download"></span>
                        </div>
                    </p:commandLink>
                </p:column>

                <p:column headerText="Nr." style="width:3em;" sortBy="#{transfer.registru.nr}" filterBy="#{transfer.registru.nr}">
                    <h:outputText value="#{transfer.registru.nr}" />
                </p:column>
                <p:column headerText="Data" style="width:9em;" sortBy="#{transfer.registru.data}">
                    <h:outputText value="#{transfer.registru.data}" >
                        <f:convertDateTime type="both" pattern="d MMMM yyyy" locale="ro" timeZone="EET" />
                    </h:outputText>
                </p:column>
                <p:column headerText="Titlu" sortBy="#{transfer.registru.shortname}" filterBy="#{transfer.registru.shortname}">
                    <h:outputText value="#{transfer.registru.shortname}" />
                </p:column>

                <p:column headerText="Termen" sortBy="#{transfer.registru.termen}">
                    <h:outputText value="#{transfer.registru.termen}" >
                        <f:convertDateTime type="both" pattern="d MMMM yyyy 'ora' HH:mm " locale="ro" timeZone="EET" />
                    </h:outputText>
                </p:column>

                <p:column sortBy="#{transfer.registru.responsabil}" filterBy="#{transfer.registru.responsabil}" >
                    <f:facet name="header">
                        Responsabil
                    </f:facet>
                    <h:outputText value="#{transfer.registru.responsabil}" />
                </p:column>
                
                <p:column headerText="Detalii" style="width:16px">  
                    <p:rowToggler />  
                </p:column>

                <p:rowExpansion>
                    Descriere:
                    <ul>
                        <li>
                            <h:outputText rendered="#{!transfer.registru.tipStat.ar}" value="Datele se colectează pe nivel PJ! Completați doar primul Sheet." />
                            <h:outputText rendered="#{transfer.registru.tipStat.ar}" value="Datele se colectează pe nivel structură! Completați fiecare Sheet cu datele referitoare la structurile respective." />
                        </li>
                        <li>
                            <h:outputText rendered="#{!transfer.registru.tipStat.variable}" value="Macheta e de tip tabel, completați doar căsuțele cu datele cerute. Datele scrise în afara tabelului nu se iau în considerare." />
                            <h:outputText rendered="#{transfer.registru.tipStat.variable}" value="Macheta e de tip catalog, completați rândurile în ordinea sus în jos, începând cu primul rând următor capului de tabel. Nu săriți peste rânduri, nu lăsați celule necompletate. Tabelul trebuie să conțină doar datele cerute (în cazul în care va trebui să trimiteți pe suport hârtie tabelul va fi preparat încât locul ștampilei și semnătura să apară automat după imprimare."/>
                        </li>
                    </ul>
                </p:rowExpansion>  

            </p:dataTable>
        </p:panel>
    </ui:define>

</ui:composition>
