<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/defaultTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" >

    <ui:define name="content">
        <p:panel header="Registru solicitări către #{userBean.user.unitate.nume}" rendered="#{userBean.ISJ||userBean.unitate}">
            <p:dataTable id="unitateTransferList"
                         paginator="true" rows="10"  
                         paginatorTemplate="pagina {PageLinks}"
                         paginatorPosition="bottom"
                         var="transfer"
                         value="#{unitateRegistruListerBean.historyTransferList}"
                         sortField="sentOn"
                         sortOrder="descending"
                         lazy="true"
                         widgetVar="unitateHistoryTransferList"
                         emptyMessage="Nu s-au găsit solicitări conform filtrelor definite"
                         reflow="true"
                         >

                <p:column headerText="Răspunsul din Data" sortBy="#{transfer.sentOn}" filterBy="#{transfer.sentOn}"  style="width:17em;">
                    <p:commandLink action="#{downloadBean.downloadOneFile}" ajax="false">
                        <f:setPropertyActionListener value="#{transfer.id}" target="#{downloadBean.tid}" />
                        <span style="margin-right:.5em;" class="fa fa-fw fa-download"></span>
                        <h:outputText value="#{transfer.sentOn}" style="font-weight: normal;">
                            <f:convertDateTime type="both" pattern="d MMMM yyyy 'ora' HH:mm " locale="ro" timeZone="EET" />
                        </h:outputText>
                    </p:commandLink>
                </p:column>
                <p:column headerText="Stare" filterBy="#{transfer.raspunsLa.raspStatus}" style="text-align:center;width:10em;">
                    <f:facet name="filter">
                        <p:selectOneMenu onchange="PF('unitateHistoryTransferList').filter()">
                            <f:converter converterId="javax.faces.Integer" />
                            <f:selectItem itemLabel="Toate" itemValue="" />
                            <f:selectItem itemLabel="La termen" itemValue="1"></f:selectItem>
                            <f:selectItem itemLabel="Fără răspuns" itemValue="0"></f:selectItem>
                            <f:selectItem itemLabel="După termen" itemValue="2"></f:selectItem>
                        </p:selectOneMenu>
                    </f:facet>
                    <h:graphicImage alt="Trimis la termen" name="apply16.png" library="img" rendered="#{transfer.raspunsLa.raspStatus==1}" />
                    <h:graphicImage alt="Fără răspuns" name="cancel16.png" library="img" rendered="#{transfer.raspunsLa.raspStatus==0}" />
                    <h:graphicImage alt="Răspuns după termen" name="history.png" library="img" rendered="#{transfer.raspunsLa.raspStatus==2}" />
                </p:column>
                <p:column headerText="Nr." sortBy="#{transfer.registru.nr}" filterBy="#{transfer.registru.nr}" style="text-align: center;width:4em;">
                    <p:commandLink action="#{downloadBean.downloadMacheta}" ajax="false">
                        <f:setPropertyActionListener value="#{transfer.raspunsLa.id}" target="#{downloadBean.tid}" />
                        <span style="margin-right:.5em;" class="fa fa-fw fa-download"></span>
                        <h:outputText value="#{transfer.registru.nr}" />
                    </p:commandLink>
                </p:column>
                <p:column headerText="Titlu" sortBy="#{transfer.registru.shortname}" filterBy="#{transfer.registru.shortname}">
                    <h:outputText value="#{transfer.registru.shortname}" />
                </p:column>
                <p:column headerText="Data" sortBy="#{transfer.registru.data}" filterBy="#{transfer.registru.data}" style="width:15em;">
                    <h:outputText value="#{transfer.registru.data}" style="font-weight: normal;">
                        <f:convertDateTime type="both" pattern="d MMMM yyyy 'ora' HH:mm " locale="ro" timeZone="EET" />
                    </h:outputText>
                </p:column>
                <p:column headerText="Termen" sortBy="#{transfer.registru.termen}" filterBy="#{transfer.registru.termen}" style="width:15em;">
                    <h:outputText value="#{transfer.registru.termen}" style="font-weight: normal;">
                        <f:convertDateTime type="both" pattern="d MMMM yyyy 'ora' HH:mm " locale="ro" timeZone="EET" />
                    </h:outputText>
                </p:column>


            </p:dataTable>
        </p:panel>
    </ui:define>

</ui:composition>
